@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing:border-box; 
   font-family: 'Raleway', sans-serif;
   
}

.button-primary{
    height: 60px;
    width:200px;
    border-radius:5px;
    border:none;
    background-color: #FE7F2D;
    font-size:24px;
    font-weight: 600;
    transition-property:background-color, transform;
    transition-duration: 0.2s;
    margin-bottom:30px;
    
}

.button-primary:hover{
    transform: scale(1.2);
    cursor:pointer;
    background-color: #d35a08;
}

.dish-description{
    font-weight:500;
    font-size:15px;
    /* border:1px solid; */
    width:38vw;
    line-height:1.8rem;

}

.meal-class{
    display:flex;
    /* max-width:80vw; */
    justify-content: center;
}

.title-stuff{
    /* width:22vw; */
    /* border:1px solid black; */
    text-align: center;
    line-height:4rem;

}

.title-stuff-box{
    display:flex;
    /* border:1px solid black; */
    justify-content: center;
    margin-top:30px;
}


#edibles-title{
    text-align: center;
    font-size:4.5rem;
    font-family: 'Bangers', cursive;
    letter-spacing:7px;
    color:#293462
}

#tagline{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


.meal-class{
    margin-right:50px;
    margin-left:50px;
}

.dynamic-container{
    margin-right:30px;
}

.ul-class>li{
    list-style-type: none;
}

#food-image{
    width:350px;
}

.meal-area-cat{
    margin-top:7px;
}

.m-a-c-keys{
    font-weight: 600;

}


@media (min-width:360px) and (max-width:415px){

    .meal-class{
        display:block;
        margin-left:25px;
    }
    .dish-description{
        width:100%;
    }
}